{% extends 'blog/base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
        {% include './icons/pencil-fill.svg' %}
    </a>
    <img src="..." class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{ post.title}} </h5>
      <p class="card-text">{{ post.text }}</p>
      <a href=""  class="btn btn-primary">Home</a>
    </div>
  </div>
   <article class="post">
    <aside class="actions">
    {% if user.is_authenticated %}
  
    </aside>
    {% endif %}
    
      
   </article>
{% endblock %}   

